html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position: absolute
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

/* POCETAK ISTORIJE */
#history_section {

}
#history_section {
    background-color: gray;
   /* margin: 250px 400px 0px 400px; */
    margin: 5% 15% 0% 15%;
    padding: 20px 20px 20px 20px;
    float:left;
} 
#bimbaslika {
    float:left;
    padding-left:200px;
    padding-top: 30px;
    padding-right: 50px;
    width:200px;
}
#pastinhaslika {
    margin-top:30px;
    padding-left:460px;
    width:200px;
}

.tekstbimba2 {
    font-size:12px;
    font-weight:700;
    margin-left:8px;
    text-align:center;
}
.tekstpastinha2 {
    font-size:12px;
    font-weight:700;
    margin-left:10px;
    margin-top:13px;
    text-align:center;
}
/* KRAJ ISTORIJE */